<!DOCTYPE html>
<html>
<head>
  <title><%= raw(@site_title) %></title>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://s3.amazonaws.com/achatesadvisors/app/assets/stylesheets/my_styles.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>




<div class="container  container-bg-white">
  <div class="row">
  <div class="col-md-4"><%= link_to 'Achates Capital Advisors, LLC', root_path, class: 'navbar-brand' %></div>
  <div class="col-md-8 masthead-address">
    <ul class="list-inline">
      <li><i class="fa fa-home"></i> 3201 New Mexico Avenue, N.W. Suite 247 Washington, D.C.  20036</li>
      <li><i class="fa fa-phone"></i> (202) 887-0552</li>
    </ul>
  </div>
  </div>
 </div>


<div class="container container-bg-white">
  <!---  BEGIN MAIN CONTENT ROW -->
  <div class="row">
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li class="<%= 'active' if current_page?root_path %>"><%= link_to 'Home', root_path %></li>
        <li class="<%= 'active' if current_page?named_path("about") %>"><%= link_to 'About Us', named_path("about") %></li>
        <li  class="<%= 'active' if current_page?named_path("contact") %>"><%= link_to 'Contact Us', named_path("contact") %></li>
      </ul>
    </div>
    <div class="col-md-9">
      <%= yield %>
      <% if current_page?named_path("contact") %>
         <br/>
          <%= raw(@contact_map) %>
      <% end %>

    </div>
  </div>
  <!---  END MAIN CONTENT ROW -->

</div> <!-- /container -->
<div class="container" id="footer">
  <ul class="list-inline">
    <li><i class="fa fa-home"></i> 3201 New Mexico Avenue, N.W. Suite 247 Washington, D.C.  20036</li>
    <li><i class="fa fa-phone"></i> (202) 887-0552</li>
  </ul>
</div>




<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="http://getbootstrap.com/docs-assets/js/holder.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.0.1/ckeditor.js"></script>
</body>
</html>
